<!DOCTYPE html>
<html ng-app="autoRefreshApp">
<head>
  <title>Harvester System</title>

  <link rel="stylesheet" type="text/css" href="newer.css">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
  integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
  integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> 


  <!-- templating -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

  <!-- Google gauge charts-->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
 

  <!-- Google Map sync to track location of Harvester -->
  <meta name="viewport" content="initial-scale=1.0">
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

  <!--<script src="http://code.angularjs.org/1.4.0-rc.2/angular.js"></script>-->
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

</head>
<body>

  <div class="container" ng-controller="autoRefreshController" >
    <h2>Harvester System</h2>

    <!-- Here is the code for entering Date in the format of w3c-->
    <h4>Current Time: </h4>
    <p id="demo"></p>
    <script>
      document.getElementById("demo").innerHTML = Date();
    </script>
   <a href="/" class="button button3">Main</a>
    <a href="/map" class="button button1">Map</a>   
    <hr>

    <!-- Pneumatic diagram of harvester valve, pump and cylinder-->
<h4>Hydrulic System Data: </h4>
  <div class="relative">
  <div class="b2u">
    <img src="valve.svg" width="200" height="100">
    <h5 id="label_valve_b2u" style="color:0000FF">Valve B2U/B2D</h5>
  </div>
  <div class="b1u">
    <img src="valve1.svg" width="200" height="100">
    <h5 id="label_valve_b1u">Valve B1U/B1D</h5>
  </div>
  <div class="slew">
    <img src="valve2.svg" width="200" height="100">
    <h5 id="label_valve_slew">Valve SLEW R / SLEW L</h5>
  </div>
  <div class="cylinder_b2u">
    <img src="cylinder.svg" width="300" height="150">
    <h5>Cylinder 80/40x400</h5>
  </div>
  <div class="cylinder_b1u">
    <img src="cylinder.svg" width="200" height="100">
    <h5>Cylinder 90/40x300</h5>
  </div>
   <div class="cylinder_right">
    <img src="cylinderright.svg" width="200" height="100">
    <h5>SLEW Right</h5>
  </div>
  <div class="cylinder_left">
    <img src="cylinderleft.svg" width="200" height="100">
    <h5>SLEW Left</h5>
  </div>
  <div class="pump">
    <img src="pump.svg" width="150" height="70">
    <h5>Pump, 18 KW @3600rpm</h5>
  </div>
</div>


<div class="relative1">
        <table>  
          <h5 id="op">Oil Pressure (bar): </h5>
          <tr ng-repeat="x in myPressure | limitTo : -1">
            <td id="yellow">{{x.pressure[0]}}</td>
          </tr>
        </table>
</div>
<div class="relative2">
        <table>
          <h5 id="op">Oil Temperature (°C): </h5>
          <tr ng-repeat="m in myOilTemp | limitTo : -1">
            <td id="yellow">{{m.oiltemp}}</td>
          </tr>
        </table>
</div>
<div class="relative3">
        <table>
          <h5 id="op">Motor Temperature (°C): </h5>
          <tr ng-repeat="m in myMotor | limitTo : -1">
            <td id="yellow">{{m.motortemp}}</td>
          </tr>
        </table>
</div>
<div class="relative4">
        <table>
          <h5 id="op">Boom Lift Pressure (bar): </h5>
          <div ng-repeat="w in myBoomLift">
          <tr ng-repeat="(key, value) in myBoomLift | limitTo : -1">
            <td id="blue">{{value.boomlup}}</td>
          </tr>
          </div>
        </table>
</div>
<div class="relative5">
        <table>
          <h5 id="op">Boom Fold Pressure (bar): </h5>
          <div ng-repeat="f in myBoomFold">
          <tr ng-repeat="(key, value) in myBoomFold | limitTo : -1">
            <td id="green">{{value.boomfup}}</td>
          </tr>
          </div>
        </table>
</div>
<div class="relative6">
        <table>
          <h5 id="op">Boom Rotate Pressure R/L (bar): </h5>
          <div ng-repeat="d in myBoomRotate">
          <tr ng-repeat="(key, value) in myBoomRotate | limitTo : -1">
            <td id="rotate">{{value.boomtrp}}</td>
            <td id="rotate">{{value.boomtlp}}</td>
          </tr>
          </div>
        </table>
</div>
<meta id ="alldata" http-equiv="refresh" content="60" />
</div>
<script src="controllers/controllerForSystem.js"></script>
</body>
</html>